.article-mentor__teacher {
  font-family: PT Root, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #464646;
}

@media screen and (min-width: 320px) and (max-width: 410px)  {
  .article-mentor__teacher {
    font-size: 12px;
    line-height: 17px;
  }
}
