.facebook__main {
  background-image: url(../../../images/facebook-main.png);
  width: 420px;
  height: 627px;
  border-radius: 30px;
  justify-self: center;
}

@media screen and (max-width: 1440px) {
  .facebook__main {
    width: 370px;
  }
}

@media screen and (max-width: 400px) {
  .facebook__main {
    width: 290px;
  }
}
