.search__form {
  position: absolute;
  top: 0;
  right: 15px;
  width: 30px;
  height: 30px;
  transition: width linear 0.2s;
  display: flex;
  align-items: center;  
  overflow: hidden;
  z-index: 10;
  background-color: #F3F2F2;
}

.search:hover .search__form {
  width: 800px;
}

