.footer__logo {
  width: 415px;
  height: 76px;
  background-image: url(../../../images/footer-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;

  grid-area: logo;
}

@media (max-width: 600px) {
  .footer__logo {
    width: 238px;
    height: 46px;
  }
}
