.page-title {
  font-family: 'ProtoGroteskLight';
  font-style: normal;
  font-weight: 300;
  font-size: 74px;
  line-height: 1.08;
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .page-title  {
    font-size: 37px;
    line-height: 1.05;
    padding-bottom: 20px;
  }
}