.about__mission {
  font-family: ProtoGroteskLight, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 50px;
  text-align: center;

  padding: 60px calc(100vw/2 - 1770px/2);
  margin: 80px 0;
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  box-sizing: border-box;
}

@media (max-width: 1440px) {
  .about__mission {
    padding: 60px calc(100vw / 2 - 1170px / 2);
  }
}

@media (max-width: 1024px) {
  .about__mission {
    max-width: 770px;
    padding: 30px 0;
    margin: 50px auto;

    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
  }
}
