.filter-buttons__list {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  overflow: auto;
  max-width: 1024px;
}

.filter-buttons__list:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .filter-buttons__list {
    padding-bottom: 10px;
    flex-wrap: nowrap; 
  }
}
