.loginForm-popUp__forgot-button {
  align-self: start;
  border: none;
  padding: 0;
  color: #464646;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 31px;
}


@media screen and (max-width: 1200px) {
  .loginForm-popUp__forgot-button {
    margin-top: 10px;
  }
}