.filter-buttons {
  padding-bottom: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .filter-buttons {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 400px) {
  .filter-buttons {
    padding-bottom: 30px;
    
  }
}