.card-film {
  outline: 1px red solid;
  border-radius: 30px;
  min-width: 420px;

}

@media screen and (max-width: 320px)   {
  .card-film {
    /* max-width: 290px; */
  }
}

/* медиа и псевдоклассы, display:block */
