.header {
  font-family: 'ProtoGroteskLight';
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  max-width: 1770px;
  padding: 40px 0 85px;
  width: 100%;
}
@media screen and (max-width: 1800px) {
  .header  {
    max-width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .header  {
    max-width: 80%;
    padding-top: 50px;
  }
}

@media screen and (max-width: 400px) {
  .header  {
    max-width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
