.footer__container {
  display: grid;
  max-width: 1160px;
  margin: auto;

  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows:  repeat(2, minmax(min-content, max-content));
  grid-gap: 0;
  grid-template-areas:
    "logo      donate    navigation"
    "copyright copyright navigation";

  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "navigation"
      "donate"
      "copyright";
    justify-items: center;
    max-width: 770px;
  }
}

