.header__link {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2s;
  margin-right: 30px;
}


.header__link:last-child {
  margin: 0;
}