.button_active_dark {
  color: #000000;
  border-color: #000000;
}

.button_active_dark:hover {
  background-color: #E0E0E0;
}

.button_active_dark:active {
  color: #F3F2F2;
  background-color: #000000;
}

.button_active_dark:hover:active {
  color: #F3F2F2;
  border-color:  #2E2468;
  background-color: #2E2468;
}