.calendar-card {
  max-width: 570px;
  padding: 30px;
  border-radius: 30px;
  background-color: #fff;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .calendar-card {
    padding: 30px 15px;
  }
}