.article-mentor__header {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  font-family: PTRootUIWebRegular, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2px 7px;
}
