.tag {
  color: #464646;
  padding: 2px 7px;
  border-radius: 15px;
  font-family: 'PTRootUIWebRegular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}