.article-mentor__content_main-grid {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 120px 400px;
}

@media screen and (max-width: 1850px)   {
  .article-mentor__content_main-grid {
    /* max-height: 312px; */
    padding: 120px 100px;
  }
}

@media screen and (max-width: 1300px)   {
  .article-mentor__content_main-grid {
    padding: 30px 39px;
  }
}

@media screen and (max-width: 400px)   {
  .article-mentor__content_main-grid {
    padding: 30px 15px;
  }
}
