.search_position_right {
  padding-right: 15px;
  border-right: solid 0.7px #A7A6A6;
}

@media screen and (max-width: 1200px) {
  .search_position_right  {
    padding-right: 0;
    border: none;
  }
}