.header__name {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.12;
  color: #224CFF;
  text-decoration: none;
}

.header__name:hover {
  color: #2E2468;
}

@media screen and (max-width: 1200px) {
  .header__name {
    font-size: 17.5px;
  }
}