.article-mentor__text_large_l {
  font-size: 44px;
  line-height: 50px;
}

@media screen and (min-width: 411px) and (max-width: 650px)  {
  .article-mentor__text_large_l  {
    font-size: 25px;
    line-height: 30px;
    /* padding-top: 12px; */
  }
}

@media screen and (min-width: 320px) and (max-width: 410px)  {
  .article-mentor__text_large_l  {
    font-size: 19px;
    line-height: 23px;
    /* padding-top: 12px; */
  }
}
