.header__menu-button {
  display: block;
  background-image: url(../../../../images/header/menu-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-size: 30px 20px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  transition: opacity 0.15s linear;
}

.header__menu-button:hover {
  cursor: pointer;
  opacity: 0.5;
}