.calendar-card__main {
  display: flex;
  justify-content: space-between;
  height: 140px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .calendar-card__main {
    height: 130px;
  }
}