.loginForm-popUp__answer {
  margin: 0 0 20px 0;
  font-family: 'PTRootUIWebRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  max-width: 470px;
}
.loginForm-popUp__answer:last-child {
  margin: 0;
}