.article-mentor__image {
  display: block;
  border-radius: 15px;
  padding-bottom: 15px;
  width: 100%;
  object-fit: cover;
  margin: 0;

}

@media screen and (max-width: 1440px){
  .article-mentor__image  {
    min-height: 394px;
  }
}

@media screen and (max-width: 730px){
  .article-mentor__image  {
    min-height: 142px;
  }
}

