.article-mentor_main-grid_yellow-first {
  background-color: #F8D162;
  grid-area: yellowBlock;

}

@media screen and (max-width: 1920px){
  .article-mentor_main-grid_yellow-first {
    min-height: 629px;
  }
}

@media screen and (max-width: 730px) {
  .article-mentor_main-grid_yellow-first {
    min-height: 333px;
  }
}
