.article-mentor_main-grid_violet {
  grid-area: article;
  max-height: 490px;
  height: 100%;
  background-color: #C8D1FF;
  /* margin-bottom: 30px; */
}


@media screen and (max-width: 1024px)   {
  .article-mentor_main-grid_violet {
    min-height: 312px;
  }
}
