.article-mentor__link {
  color: #224CFF;
  text-decoration: none;
  font-family: ProtoGroteskLight, Arial, Helvetica, sans-serif;
  letter-spacing: 0.2px;
  font-size: 15px;
  line-height: 19px;
  font-weight: 300;
}

@media screen and (min-width: 320px) and (max-width: 410px)  {
  .article-mentor__link {
    font-size: 12px;
    line-height: 17px;
  }
}
