.footer__copyright{
  padding-top: 124px;
  grid-area: copyright;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: PTRootUIWebRegular, Arial, Helvetica, sans-serif;
}

@media (max-width: 1024px) {
  .footer__copyright {
    padding: 0;
    justify-content: center;
  }
}
