.calendar__card {
  padding: 30px;
  border-radius: 30px;
  background-color: #fff;
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .calendar__card {
    padding: 30px 15px;
  }
}