.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1770px;
}

/* @media screen and (max-width: 1800px) {
  .content  {
    max-width: 90%;
  }
} */


 @media screen and (max-width: 1800px) {
  .content  {
    max-width: 81.3%;
  }
}

@media screen and (max-width: 1200px) {
  .content  {
    max-width: 77.2%;
  }
}

@media screen and (max-width: 400px) {
  .content  {
    max-width: 90%;
  }
} 