.section-second {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-template-areas:
  "card card card card"; */
}

/* @media screen and (max-width: 1440px) {
  .section-second {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "card card card";
  }
} */
