.history {
  /* background-image: url("../../images/MarinaAndAlina.png");
  background-repeat: no-repeat; */
  /* grid-column: 7/-1; */
  /* max-height: 520px; */
  /* max-height: 100%; */
  /* max-width: 100%; */
  position: relative;
  text-align: center;
  grid-area: history;
}

/* @media screen and (max-width: 1440px){
  .history {
    max-height: 414px;
  }
} */
