.history {
  position: relative;
  text-align: center;
  grid-area: history;
  z-index: 1;
  border-radius: 30px;
}

@media screen and (max-width: 1440px){
  .history {
    min-height: 414px;
  }
}

@media screen and (max-width: 1024px){
  .history {
    min-height: 382px;
  }
}

@media screen and (max-width: 320px){
  .history {
    min-height: 290px;
  }
}
