.footer__logo {
  width: 415px;
  height: 76px;
  background-image: url(../../../../images/footer/footer-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: logo;
}

@media (max-width: 1024px) {
  .footer__logo {
    width: 252px;
    height: 46px;
    margin-bottom: 40px;
  }
}
