.answers__card-button {
  min-width: 100px;
  min-height: 100px;
  background-image: url(../../../images/answers__button.svg);
  background-color: #C8D1FF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 23px;
  border: none;
  padding: 0;
  border-radius: 50%;
  display: none;
  margin-top: 45px;
}

@media screen and (max-width: 1200px) {
  .answers__card-button {
    margin: 0 0 -15px;
    min-width : 50px;
    min-height: 50px;
    background-size: 12px 12px;
    display: block;
  }
}