.header__search-button {
  display: block;
  background-image: url(../../../../images/header/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  min-width: 30px;
  min-height: 30px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  transition: opacity 0.15s linear;
}

.header__search-button:hover {
  opacity: 0.5;
  cursor: pointer;
}