.calendar-card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.2px;
  font-family: 'PTRootUIWebRegular';
}

@media screen and (max-width: 1200px) {
  .calendar-card__header {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 17px;
  }
}
