@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);

/* page */
@import url(../blocks/page/page.css);

/* calendar-card */
@import url(../blocks/calendar-card/calendar-card.css);
@import url(../blocks/calendar-card/__content/calendar-card__content.css);
@import url(../blocks/calendar-card/__header/calendar-card__header.css);
@import url(../blocks/calendar-card/__main/calendar-card__main.css);
@import url(../blocks/calendar-card/__people/calendar-card__people.css);
@import url(../blocks/calendar-card/__month/calendar-card__month.css);
@import url(../blocks/calendar-card/__name/calendar-card__name.css);
@import url(../blocks/calendar-card/__date/calendar-card__date.css);
@import url(../blocks/calendar-card/__info/calendar-card__info.css);
@import url(../blocks/calendar-card/__actions/calendar-card__actions.css);
@import url(../blocks/calendar-card/__places/calendar-card__places.css);
@import url(../blocks/calendar-card/__info-item/calendar-card__info-item.css);
@import url(../blocks/calendar-card/_main-grid/calendar-card_main-grid.css);
@import url(../blocks/calendar-card/__info/calendar-card__info.css);
@import url(../blocks/calendar/__card/_page-main/calendar__card_page-main.css);
@import url(../blocks/calendar-card/_page-main/calendar-card_page-main.css);

/* article-mentor */
@import url(../blocks/article-mentor/article-mentor.css);
@import url(../blocks/article-mentor/__content/article-mentor__content.css);
@import url(../blocks/article-mentor/__content/_large/article-mentor__content_large_l.css);
@import url(../blocks/article-mentor/__content/_large/article-mentor__content_large_s.css);
@import url(../blocks/article-mentor/__content/_large/article-mentor__content_large_m.css);
@import url(../blocks/article-mentor/_large/article-mentor_large_l.css);
@import url(../blocks/article-mentor/_large/article-mentor_large_s.css);
@import url(../blocks/article-mentor/_large/article-mentor_large_m.css);
/* @import url(../blocks/article-mentor/__article/article-mentor__article.css); */
@import url(../blocks/article-mentor/__text/article-mentor__text.css);
@import url(../blocks/article-mentor/__text/_large/article-mentor__text_large_l.css);
@import url(../blocks/article-mentor/__text/_large/article-mentor__text_large_s.css);
@import url(../blocks/article-mentor/__header/article-mentor__header.css);
@import url(../blocks/article-mentor/__link/article-mentor__link.css);
@import url(../blocks/article-mentor/__teacher/article-mentor__teacher.css);
/* @import url(../blocks/article-mentor/__article/_large/article-mentor__article_large_l.css); */
@import url(../blocks/article-mentor/__article/_large/article-mentor__article_large_s.css);
@import url(../blocks/article-mentor/__article/_large/article-mentor__article_large_m.css);
@import url(../blocks/article-mentor/__image/article-mentor__image.css);
@import url(../blocks/article-mentor/_main-grid/article-mentor_main-grid_violet.css);
@import url(../blocks/article-mentor/_main-grid/article-mentor_main-grid_green.css);

@import url(../blocks/article-mentor/_main-grid/article-mentor_main-grid_yellow-first.css);
@import url(../blocks/article-mentor/_main-grid/article-mentor_main-grid_yellow-second.css);
@import url(../blocks/article-mentor/__text/_main-grid/article-mentor__text_main-grid.css);
@import url(../blocks/article-mentor/__text/_main-grid/article-mentor__text_main-grid.css);
@import url(../blocks/article-mentor/__text/_main-grid/article-mentor__text_main-grid_green.css);

@import url(../blocks/article-mentor/__text/_yellow-second/article-mentor__text_yellow-second.css);
@import url(../blocks/article-mentor/__media-block/article-mentor__media-block.css);
@import url(../blocks/article-mentor/__content/_main-grid/article-mentor__content_main-grid.css);
@import url(../blocks/article-mentor/__content/_main-grid/article-mentor__content_main-grid_green.css);


/* article-child */
@import url(../blocks/article-child/article-child.css);
@import url(../blocks/article-child/__content/article-child__content.css);
@import url(../blocks/article-child/__header/article-child__header.css);
@import url(../blocks/article-child/__header/_page/article-child__header_page_main.css);
@import url(../blocks/article-child/__text/article-child__text.css);
@import url(../blocks/article-child/__text/_page/article-child__text_page_main.css);
@import url(../blocks/article-child/_main-grid/article-child_main-grid.css);

/*card-film */
@import url(../blocks/card-film/card-film.css);
@import url(../blocks/card-film/__preview/card-film__preview.css);
@import url(../blocks/card-film/__rubrics/card-film__rubrucs.css);
@import url(../blocks/card-film/__image/card-film__image.css);
@import url(../blocks/card-film/__rubrics-item/card-film__rubrucs-item.css);
@import url(../blocks/card-film/__text/card-film__text.css);
@import url(../blocks/card-film/__header/card-film__header.css);
@import url(../blocks/card-film/__authors/card-film__authors.css);
@import url(../blocks/card-film/__link/card-film__link.css);
@import url(../blocks/card-film/_page/card-film_page_main.css);

/* double-card */
@import url(../blocks/double-card/double-card.css);
@import url(../blocks/double-card/__line/double-card__line.css);
@import url(../blocks/double-card/__square/double-card__square.css);
@import url(../blocks/double-card/__book/double-card__book.css);
@import url(../blocks/double-card/__title/double-card__title.css);
@import url(../blocks/double-card/__text/double-card__text.css);
@import url(../blocks/double-card/__date/double-card__date.css);
@import url(../blocks/double-card/__author/double-card__author.css);

/* page-main  */
@import url(../blocks/page-main/page-main.css);


/* section-first */
@import url(../blocks/section-first/section-first.css);
@import url(../blocks/section-first/__logo/section-first__logo.css);
@import url(../blocks/section-first/__green-block/section-first__green-block.css);
@import url(../blocks/section-first/__pink-block-header/section-first__pink-block-header.css);
@import url(../blocks/section-first/__pink-block-main/section-first__pink-block-main.css);

@import url(../blocks/section-first/__nastavniki-text/section-first__nastavniki-text.css);


/* history */

@import url(../blocks/history/history.css);
@import url(../blocks/history/__title/history__title.css);
@import url(../blocks/history/__image/history__image.css);
@import url(../blocks/history/__container/history__container.css);



/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__donate-button/footer__donate-button.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__nav-container/footer__nav-container.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/footer/__nav-item/footer__nav-item.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__copyright-paragraph/footer__copiright-paragraph.css);
@import url(../blocks/footer/__copyright-paragraph/_main/footer__copiright-paragraph_main.css);


/* section-second */
/* @import url(../blocks/section-second/section-second.css); */



/* list-films */
@import url(../blocks/list-films/list-films.css);

/* video-block */
@import url(../blocks/video-block/video-block.css);
@import url(../blocks/video-block/__iframe/video-block__iframe.css);

/* about */
@import url(../blocks/about/about.css);
@import url(../blocks/about/__header/about__header.css);
@import url(../blocks/about/__logo/about__logo.css);
@import url(../blocks/about/__circle/about__circle.css);
@import url(../blocks/about/__content/about__content.css);
@import url(../blocks/about/__section/about__section.css);
@import url(../blocks/about/__paragraph/about__paragraph.css);
@import url(../blocks/about/__mision/about__mission.css);
@import url(../blocks/about/__how-tos/about__how-tos.css);
@import url(../blocks/about/__how-to/about__how-to.css);
@import url(../blocks/about/__how-to-caption/about__how-to-caption.css);
@import url(../blocks/about/__how-to-caption/_color/about__how-to-caption_color_green.css);
@import url(../blocks/about/__how-to-caption/_color/about__how-to-caption_color_orange.css);
@import url(../blocks/about/__how-to-caption/_color/about__how-to-caption_color_light-blue.css);
@import url(../blocks/about/__how-to-action/about__how-to-action.css);
@import url(../blocks/about/__how-to-details/about__how-to-details.css);


/* main__films */

@import url(../blocks/films/films.css);
@import url(../blocks/film/film.css);
@import url(../blocks/film/__tag/film__tag.css);
@import url(../blocks/film/__tags/film__tags.css);
@import url(../blocks/film/__title/film__title.css);
@import url(../blocks/film/__link/film__link.css);
@import url(../blocks/film/__details/film__details.css);
@import url(../blocks/film/__info/film__info.css);
@import url(../blocks/film/__image/film__image.css);


/* facebook */
@import url(../blocks/facebook/facebook.css);
@import url(../blocks/facebook/__main/facebook__main.css);
@import url(../blocks/facebook/__posts/facebook__posts.css);
@import url(../blocks/facebook/__post/facebook__post.css);
@import url(../blocks/facebook/__post-title/facebook__post-title.css);
@import url(../blocks/facebook/__tag/facebook__tag.css);

