.answers__rubric {
  font-family: 'PTRootUIWebRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #F3F2F2;
  color: #464646;
  padding: 2px 7px;
  border-radius: 15px;
}

@media screen and (max-width: 1200px) {
  .answers__rubric {
    margin-top: 5px;
  }
}