.base-popUp__close-button {
  background-image: url(../../../images/page/close-button.svg);
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
}