.header__search-button {
  display: block;
  background-image: url(../../../images/header/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  min-width: 30px;
  min-height: 30px;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 20px;
  padding: 0;
  
}

@media screen and (max-width: 1200px) {
  .header__search-button {
    display: none;
  }
}