.footer {
  background-color: #2E2468;
  color: #F3F2F2;
  padding: 90px 10px 80px;
  font-family: ProtoGroteskLight, Arial, Helvetica, sans-serif;
}

@media (max-width: 1024px) {
  .footer {
    padding: 40px 0 30px;
  }
}
