.header__menu-button {
  display: none;
  background-image: url(../../../images/header/menu-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-size: cover;
  width: 30px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

#menu:hover .header__menu-button {
  background-image: url(../../../images/page/close-button.svg);
}

@media screen and (max-width: 1200px) {
  .header__menu-button {
    display: block;
  }
}

