.section-first__pink-block-header {
  background-color: #FF8585;
  width: 61.49%;
  z-index: 2;
  height: 30%;
  border-radius: 0 0 200px 0;
  position: relative;
}

@media screen and (max-width: 1440px){
  .section-first__pink-block-header  {
    width: 69.3%;
  }
}

@media screen and (max-width: 1024px){
  .section-first__pink-block-header  {
    width: 72.2%;
    height: 23.6%;
  }
}

@media screen and (max-width: 400px){
  .section-first__pink-block-header  {
    width: 79%;
    height: 23.4%;
  }
}
