.loginForm-popUp__answers {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  
  max-width: 547px;
}

@media screen and (max-width: 400px) {
  .loginForm-popUp__answers {
    margin-bottom: 32px;
  }
}