.calendar-card__info {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
  font-family: PTRootUIWebRegular, Arial, Helvetica, sans-serif;
}
