.footer__copyright-paragraph {
  margin: 12px 30px 0 0;
  padding: 0;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #F3F2F2;
}
