.calendar-card__name {
  max-width: 340px;
  text-align: start;
}

@media screen and (max-width: 1200px)  {
  .calendar-card__name {
    max-width: 266px;
  }
}

@media screen and (max-width: 400px)  {
  .calendar-card__name {
    max-width: 186px;
  }
}