.about__paragraph {
  font-family: PTRootUIWebRegular, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin: 30px auto 0;
  padding: 0;
}

.about__paragraph:first-child {
  margin-top: 0;
}

@media (max-width: 1024px) {
  .about__paragraph {
    font-size: 15px;
    line-height: 21px;
  }
}
