.footer__nav-container {
  grid-area: navigation;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

@media (max-width: 1024px) {
  .footer__nav-container {
    flex-direction: column;
  }

  .footer__nav-container:first-child {
    border-bottom: 3px solid white;
  }
}
