.article-child__header {
  font-family: PTRootUIWebRegular, Arial, Helvetica, sans-serif;
  color: #464646;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  font-weight: 400;
}

@media screen and (min-width: 320px) and (max-width: 410px)  {
  .article-child__header {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.2px;
  }
}
