.header__profile-exit-button {
  grid-area: exit;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  font-family: 'PTRootUIWebRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.4;
  color: #A7A6A6;
  justify-self: end;
  padding: 0;
  transition: color 0.15s linear;
}

.header__profile-exit-button:hover {
  color: #224CFF;
  cursor: pointer;
}