.section-first__pink-block-main {
  background-color: #FF8585;
  height: 70%;
  border-radius: 200px;
  position: relative;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}

@media screen and (max-width: 1440px){
  .section-first__pink-block-main {
    font-size: 19px;
    line-height: 23px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1024px){
  .section-first__pink-block-main {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 70px 70px 30px 30px;
    height: 76.5%;
  }
}
