.section-first__pink-block-main {
  background-color: #FF8585;
  /* width: 61%; */
  z-index: 2;
  height: 70%;
  border-radius: 200px;
  position: relative;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}
