.calendar-card__about {
  display: none;
  margin: 0 0 30px;
}

@media screen and (max-width: 400px) {
  .calendar-card__about  {
    font-family: 'PTRootUIWebRegular', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
  }
}
