.film__details {
  margin: 0 30px;
  padding: 0;
  /*max-width: 360px;*/
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 1024px) {
  .film__details {
    margin: 0 15px;
  }
}
